body {
    justify-content: center;
    align-items: center;
    display: flex;
    background: url("../assets/background11.png") center;
    height: 100%;
    min-width: 100%;
    
    background-size: cover;
    flex-direction: column;
}
table {
    border: 2px solid black;
    background: rgba(255,255,255,.21);
}